<!--修改头像-->
<ion-content class="imgCrop" padding="false" scroll="true" overflow-scroll="true" has-bouncing="true" ng-controller="imgCropController">
    <div class="none">
        <label><input type="checkbox" ng-model="enableCrop" ng-init="enableCrop=true"/></label>
    </div>
    <button class="button button-assertive resImageDataURIBut">
        {{cropData}}
        <input class="resImageDataURIFile" type="file" id="fileInput"/>
    </button>
    <button ng-if="submit" class="button button-assertive resImageDataURIBut" ng-click="saveImg()">
        保存头像
    </button>
    <div class="resImageDataURI" ng-show="submit">
        <h3>预览</h3>
        <div class="urlImg">
            <img class="" ng-src="{{resImageDataURI}}"/>
        </div>
    </div>
    <div ng-if="enableCrop" class="cropArea small">
        <img-crop image="imageDataURI"
                  result-image="$parent.resImageDataURI"
                  change-on-fly="changeOnFly"
                  area-type="{{type}}"
                  area-min-size="selMinSize"
                  result-image-format="{{resImgFormat}}"
                  result-image-quality="resImgQuality"
                  result-image-size="resImgSize"
                  on-change="onChange($dataURI)"
                  on-load-begin="onLoadBegin()"
                  on-load-done="onLoadDone()"
                  on-load-error="onLoadError()"
                ></img-crop>
    </div>
</ion-content>