<ion-content padding="false" scroll="true" overflow-scroll="true" has-bouncing="false" on-scroll="" on-scroll-complete="">
    <ion-scroll class="scrollHeight" direction="y" paging="false" zooming="true" delegate-handle="mainScroll">
        <h2 class="textTitle">{{textTitle}}</h2>
        <p class="textTitleActor">
            <span ng-if="textOrigin != ''">来源：<span>{{textOrigin}}</span> &nbsp;</span>
            <span ng-if="textAuthor != ''">作者：<span>{{textAuthor}}</span> &nbsp;</span>
            <span ng-if="textCreated != ''">{{textCreated}}</span>
        </p>
        <img ng-src="{{textThumbnail}}" draggable="false" class="textImg">
        <div class="textContentMain"></div>
        <contentbar content="相关文章" class="relatedArticles"></contentbar>
        <textnews></textnews>
        <contentbar content="热门评论" class="relatedArticles"></contentbar>
        <comment></comment>
        <div class="footerBox"></div>
    </ion-scroll>
</ion-content>
