<div ng-if="newsMain">
    <div ng-repeat="newMain in newsMain" data-id="{{newMain.Id}}"
         class="newsBoxStyle" ng-class="newsBoxStyle" ui-sref="main.mainText" ng-click="textNews(newMain.Id)">
        <div>
            <img ng-src="{{newMain.PicName}}" class="homeNewImg" draggable="false" ng-if="newsImgShow">
            <div ng-class="{'homeNewMain': newsImgShow == true,'textNewMain': newsImgShow == false}">
                <h2 class="homeNewTitle">{{newMain.Title}}</h2>
                <p class="homeNewAuthor"><span ng-if="originShow && newMain.Source">来源：<span>{{newMain.Source}}</span>&nbsp;</span> <span ng-if="newMain.Author">作者：{{newMain.Author}} &nbsp;</span><span>{{newMain.PublishUtcDate}}</span></p>
            </div>
        </div>
    </div>
</div>